<ion-content>
  <section class="account">
    <div class="content">
      <ion-item fill="outline" lines="none">
        <ion-input type="text" name="pin" placeholder="pin"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <ion-item fill="outline" lines="none">
        <ion-input type="text" name="cpin" placeholder="confirmar pin"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>

      <ion-button expand="block">Confirmar</ion-button>

      <ion-button expand="block" [routerLink]="['/']">Voltar</ion-button>
    </div>
  </section>
</ion-content>