<ion-content>
  <section class="account">
    <form class="content" [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <ion-item fill="outline" lines="none">
        <ion-input type="email" name="email" formControlName="email" placeholder="email" (blur)="checkEmail()"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>

      <ion-item fill="outline" lines="none">
        <ion-input type="text" name="username" formControlName="alias" placeholder="username"></ion-input>
        <ion-icon name="at-outline"></ion-icon>
      </ion-item>

      <ion-item fill="outline" lines="none">
        <ion-input type="password" name="psw" formControlName="password" placeholder="password"></ion-input>
        <ion-icon name="eye-off-outline"></ion-icon>
        <!-- <ion-icon *ngIf="showPsw==true" name="eye-outline" color="warning" class="iconEye"></ion-icon> -->
      </ion-item>

      <ion-item fill="outline" lines="none">
        <ion-input type="password" name="cpsw" formControlName="cpassword" placeholder="confirmar password" (keyup)="checkPassword()"></ion-input>
        <ion-icon name="eye-off-outline"></ion-icon>
        <!-- <ion-icon *ngIf="showPsw==true" name="eye-outline" color="warning" class="iconEye"></ion-icon> -->
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="formulario.invalid || !isPasswordChecked || isEmailExists">Criar conta</ion-button>

      <ion-button expand="block" [routerLink]="['/']">Voltar</ion-button>
    </form>
  </section>
</ion-content>

