<ion-content>
  <section class="account">
    <div class="content">
      <ion-item fill="outline" lines="none">
        <ion-input type="email" name="email" placeholder="email"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>

      <ion-item fill="outline" lines="none">
        <ion-input type="text" name="username" placeholder="username"></ion-input>
        <ion-icon name="at-outline"></ion-icon>
      </ion-item>

      <ion-item fill="outline" lines="none">
        <ion-input type="password" name="psw" placeholder="password"></ion-input>
        <ion-icon name="eye-off-outline"></ion-icon>
        <!-- <ion-icon *ngIf="showPsw==true" name="eye-outline" color="warning" class="iconEye"></ion-icon> -->
      </ion-item>

      <ion-item fill="outline" lines="none">
        <ion-input type="password" name="cpsw" placeholder="confirmar password"></ion-input>
        <ion-icon name="eye-off-outline"></ion-icon>
        <!-- <ion-icon *ngIf="showPsw==true" name="eye-outline" color="warning" class="iconEye"></ion-icon> -->
      </ion-item>

      <ion-button expand="block" [routerLink]="['/account/pin']">Criar conta</ion-button>

      <ion-button expand="block" [routerLink]="['/']">Voltar</ion-button>
    </div>
  </section>
</ion-content>